 .preview-pdf {
     font-size: 12px;
 }
 
 .choose-file {
     opacity: 0;
     cursor: pointer;
     height: 100%;
     font-size: 24px;
     width: 100%;
     padding-top: 6%;
 }
 
 .pdf-Icon {
     color: var(--red);
     font-size: 2em;
 }
 
 .upload-Icon {
     margin-right: 1%;
 }
 
 .close {
     margin-left: 95%;
     border: none;
     cursor: pointer;
 }
 
 .file-display-container {
     margin-left: 1%;
 }
 
 .warning-container {
     display: flex;
     flex: 1;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 265px);
 }