/*!
 Custome styles of BAM Services Limited
*/

.disable {
    cursor: none;
    pointer-events: none;
}

.top-div {
    margin-top: 20px;
}

.text-right {
    text-align: right !important;
    float: right !important;
}

.header-top-bar {
    margin: 0;
}

.header-top-bar-left {
    background-color: var(--orangeGolden);
    min-height: 100px;
    background-image: url(../assert/bam_logo.jpeg);
    background-position: right;
}


/*header h2 {
	float:left;
	}*/

.header-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.display-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 160px;
    height: 80px;
    margin-top: 15px;
}

.logo-theme-bg {
    width: 150px;
    height: 110px;
}

.header-get-sims-button {
    background: var(--base-theme-button-color);
    color: var(--base-theme-button-text-color);
    position: relative;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 8px 32px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.header-get-sims-button:hover {
    color: var(--base-theme-button-text-hover-color);
}

.header-get-sims-button::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    left: 0;
    top: 10px;
}

header .login-container {
    float: right;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

header .contact-wrapper {
    float: right;
    text-align: right;
    padding: 10px 0px 10px 0px;
    color: #777;
}

header .contact-wrapper .phone {
    font-size: 24px;
    color: #333;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0px !important;
    margin-left: -15px;
}

.nav-container .container {
    padding: 0px !important;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
    text-align: left !important;
    color: #fff !important;
    /*font-size:15px;
  font-weight:600 !important;*/
    text-transform: uppercase !important;
}

.nav>li>a {
    padding: 10px 12px !important;
    color: #000 !important;
}

.nav>li>a:hover {
    padding: 10px 12px !important;
    color: #fff !important;
}


/*a.glyphicon-user:a {
	color: #fff !important;
	}
a.glyphicon-user:hover {
	color: #000 !important;
	}*/

.navbar-toggle {
    margin-top: -155px !important;
    margin-right: 2px !important;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
}

.breadcrumb {
    padding: 8px 15px;
    margin: 10px 0px !important;
    list-style: outside none none;
    background-color: #eee !important;
    display: block;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f6f5f5 !important;
    border: none !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.highlights {
    padding: 10px !important;
    margin-bottom: 10px !important;
}

.welcome-home {
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.caps {
    text-transform: uppercase;
}

.tb-margin-spacer {
    margin: 15px 0px;
    display: block;
}

.tab-content>.active {
    padding-top: 20px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: var(--orangeGolden) !important;
    border-color: var(--orangeGolden) transparent !important;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    background-color: #555 !important;
    border-color: #555 !important;
}

.nav-tabs>li {
    width: 33.3% !important;
}

.nav-tabs>li>a {
    background-color: #ccc !important;
    border-color: #ccc !important;
}

.navbar-nav>.active>a {
    background-color: var(--orangeGolden) !important;
    color: #000 !important;
}


/********************************/


/*          Hero Headers        */


/********************************/

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/********************************/


/*            Overlay           */


/********************************/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: 0.6;
}


/********************************/


/*          Custom Buttons      */


/********************************/

.btn.btn-lg {
    padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: var(--orangeGolden);
    border-color: var(--orangeGolden);
    outline: none;
    margin: 20px auto;
}


/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 1em;
    }
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
        height: 20vh;
    }
    .fade-carousel .carousel-inner .item {
        height: 20vh;
    }
}

.img-text-wrap {
    text-wrap: normal;
    float: left;
    margin: 0px 10px 10px 0px;
}

.img-text-wrap-nomargin {
    text-wrap: normal;
    float: left;
    margin: 0px 10px 10px 0px;
}

.sec-sim-form {}

.sec-title {
    padding: 2px;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
}

.contact-form-container {
    padding: 15px 0px;
}

.news-title {
    font-size: 18px !important;
    color: #c78801;
}

.news-title a:link {
    color: #c78801 !important;
    font-size: 16px !important;
}

.news-title a:active {
    color: #c78801 !important;
    font-size: 16px !important;
}

.news-title a:visited {
    color: #c78801 !important;
    font-size: 16px !important;
}

.news-title a:hover {
    color: #c78801 !important;
    font-size: 16px !important;
}

.medium-links {
    font-size: 20px !important;
    color: #0099ff !important;
}

.medium-links a:link {
    color: #0099ff !important;
}

.medium-links a:active {
    color: #0099ff !important;
}

.medium-links a:visited {
    color: #0099ff !important;
}

.medium-links a:hover {
    color: #fff !important;
}

.sub-title {
    font-weight: 600;
}

.sections {
    text-align: center !important;
}

.sections .image-responsive {
    margin: 0px auto !important;
}

.special-points {
    font-size: 14px;
    color: #333;
    /*font-weight: 100 !important;*/
    /* margin-left: 15px;
	line-height:30px; */
}

.contact-section h3 {
    color: #777;
}

footer {
    color: #ccc;
    padding: 15px 0px;
}


/*Elements*/

.horiz-line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    display: block;
}

.btn-curved {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #4cae4c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 2px 10px;
}

.btn-curved:focus,
.btn-curved.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.btn-curved:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-curved:active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-login {
    background-color: #59b2e0 !important;
    outline: none;
    color: #fff !important;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59b2e6 !important;
}

.icon-bg {
    background-color: var(--orangeGolden);
    padding: 10%;
}

.icon-bg .circle {
    border-radius: 50%;
}

.more {
    font-size: 14px;
}

.more:visited {
    color: #555 !important;
}

.warning {
    color: #f00 !important;
}


/*Glyphicons*/

header .contact-wrapper .glyphicon-earphone {
    top: 8px;
    font-size: 28px;
    color: #333;
}

.glyph-large .glyphicon-globe {
    font-size: 150px !important;
    color: #999;
}

@media (max-width: 470px) {
    header .contact-wrapper {
        text-align: left !important;
    }
    .nav-tabs>li {
        width: 100% !important;
    }
    .b-margin-m {
        margin-bottom: 15px;
    }
    header .contact-wrapper .phone {
        font-size: 18px;
    }
    .tb-margin-spacer {
        margin: 0px 0px;
        display: block;
    }
}

@media (max-width: 340px) {
    header .contact-wrapper .phone {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1100px) {
    .header-container {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 575px) {
    .logo-container {
        justify-content: center;
        flex: 1;
    }
    .display-contact-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 760px) {
    .well {
        margin: 20px 0px;
    }
}

@media (max-width: 980px) {
    .logo {
        /* width: 160px; */
        height: 120px;
        padding: 10px 0px 12px 0px;
    }
    .logo-theme-bg {
        background: none;
    }
}

header {
    background-color: #fff !important;
}