
.contact-wrapper {
  float: right;
  text-align: right;
  padding: 10px 0px 10px 0px;
  color: #777;
}

.phone {
  font-size: 24px;
  color: #333;
}

@media (max-width: 340px) {
  .contact-wrapper .phone {
    font-size: 15px;
  }
}

  