
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    padding: 50px 0px;
}

.caps {
    text-transform: uppercase;
}

.heading {
    font-weight: 400 !important;
}

p {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 18px;
}